<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin công ty</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="container my-5 w-50">
<h2 class="text-center pb-2">THÔNG TIN CỦA CÔNG TY</h2>
<form th:object="${company}" action="/company/company-info" method="post">
    <input type="hidden" th:value="*{id}" name="id"/>
    <div class="mb-1">
        <label class="form-label">Tên công ty</label>
        <input type="text" class="form-control" th:value="*{compName}" name="compName" required>
    </div>
    <div class="mb-1">
        <label class="form-label">Mô tả</label>
        <input type="text" class="form-control" th:value="*{about}" name="about" required>
    </div>
    <div class="mb-1 d-flex justify-content-between">
        <div class="mb-1">
            <label class="form-label">Số điện thoại</label>
            <input type="tel" class="form-control" th:value="*{phone}" name="phone" required>
        </div>
        <div class="mb-1">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" th:value="*{email}" name="email" required>
        </div>
    </div>
    <div class="mb-1">
        <label class="form-label">URL Trang web chính thức</label>
        <input type="url" class="form-control" th:value="*{webUrl}" name="webUrl" required>
    </div>
    <div class="mb-1 d-flex justify-content-between">
        <div class="mb-1">
            <label class="form-label">Số đường/Number</label>
            <input type="number" class="form-control" th:value="*{address.number}" name="address.number" required>
        </div>
        <div class="mb-1">
            <label class="form-label">Đường/Street</label>
            <input type="text" class="form-control" th:value="*{address.street}" name="address.street" required>
        </div>

    </div>
    <div class="mb-1 d-flex justify-content-between">
        <div class="mb-1">
            <label class="form-label">Thành phố/City</label>
            <input type="text" class="form-control" th:value="*{address.city}" name="address.city" required>
        </div>
        <div class="mb-1">
            <label class="form-label">Quốc gia/Country</label>
            <input type="text" class="form-control" th:value="*{address.country}" name="address.country" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Lưu thay đổi</button>
</form>
</body>
</html>