<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tạo tin mới</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</head>
<style>
    body {
        font-family: Aptos, sans-serif;
        margin: 0;
        padding: 0;
    }
</style>
<body>
<div class="border p-5 m-4">
    <h2 class="text-center py-5">TẠO TIN ĐĂNG TUYỂN MỚI</h2>
    <form method="post">

    </form>
</div>
</body>
</html>